.item {
   position: relative;
   display: flex;
   flex-direction: column;
   font-size: 12px;
   font-weight: 600;
   margin-bottom: 10px;
   padding-bottom: 10px;
   border-bottom: 1px solid rgba(2, 2, 2, 0.3);
   &__head {
      display: flex;
      justify-content: space-between;
      & h3 {
         margin-top: 10px;
         letter-spacing: 0.5px;
         margin-bottom: 15px;
         font-size: 15px;
         font-weight: 600;
         color: #222;
      }
      & span {
         width: 30px;
         height: 30px;
         border-radius: 50%;
         border: 1px solid rgba(2, 2, 2, 0.2);
         position: relative;
         transition: all 0.2s;
         cursor: pointer;
         &:before,
         &:after {
            content: "";
            position: absolute;
            height: 16px;
            width: 2px;
            background: rgba(2, 2, 2, 0.8);
            rotate: 45deg;
            top: 6px;
            right: 13px;
         }
         &:after {
            rotate: -45deg;
         }
         &:hover {
            background: rgba(2, 2, 2, 0.1);
            &:before,
            &:after {
               background: #e31837;
            }
         }
         &:active {
            scale: 0.9;
         }
      }
   }
   &__ingredients {
      letter-spacing: 0.5px;
      margin-bottom: 10px;
      color: #7d7d7d;
   }
   &__specification {
      font-size: 13px;
      letter-spacing: 0.5px;
      margin-bottom: 15px;
      color: #222;
   }
   &__total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &_amount {
         font-size: 16px;
         font-weight: 600;
         color: #222;
      }
      &_counter {
         width: 90px;
         height: 30px;
         background: #e31837;
         border-radius: 15px;
         display: flex;
         flex-direction: row;
         & p {
            flex: 1 0 auto;
            color: #fff;
            text-align: center;
            line-height: 29px;
         }
         & span {
            width: 30px;
            border-radius: 50%;
            border: 1px solid rgba(2, 2, 2, 0.15);
            position: relative;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
               background: #cb1631;
            }
            &:active {
               scale: 0.9;
            }
            &:before,
            &:after {
               content: "";
               position: absolute;
               height: 2px;
               width: 14px;
               background: #fff;
               top: 13px;
               left: 7px;
            }
            &.plus {
               &:after {
                  rotate: 90deg;
               }
            }
         }
      }
   }
}
