@import 'styles/global';

.delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  &__item {
    width: 49%;
    height: 50px;
    border-radius: 25px;
    border: 1px solid $color-8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.active {
      background: $color-11;
    }
    &:hover {
      @media (min-width: 769px) {
        box-shadow: 0 0 5px $color-12;
      }
    }
    & img {
      width: 38px;
    }
    & span {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin-left: 15px;
    }
  }
}
