@import 'styles/global';

.wrapper {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 7px solid #fff;
  border-left-color: $color-4;
  border-top-color: $color-4;
  border-right-color: $color-4;
  animation: loader 1.3s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
