.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-top: 70px;
}
.title {
   margin-top: 20px;
   font-size: 22px;
   line-height: 28px;
   font-weight: 600;
   text-align: center;
   margin-left: 10px;
   & span {
   }
}
.invert {
   background: #e31837;
   color: #fff;
   border-radius: 15px;
   font-size: 16px;
   width: 50px;
   line-height: 20px;
   padding: 0 10px;
   cursor: pointer;
   &:hover {
      @media (min-width: 769px) {
         background-color: #b8112a;
      }
   }
}
.filters {
   width: 100%;
   top: 50px;
   display: flex;
   flex-direction: row;
   margin-top: 40px;
   &__space {
      flex: 1 0 auto;
   }
   @media (max-width: 768px) {
      margin-top: 15px;
   }
}
.pizzaItems {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
   column-gap: 20px;
   row-gap: 20px;
   margin-bottom: 50px;
   margin-top: 40px;
   align-items: flex-start;
   @media (max-width: 768px) {
      margin-top: 20px;
   }
}
